<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock %} - Teacher Dashboard</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        <img src="/static/logo.png">
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <br>
        {% block footer %}
        <b>Created by Uri Cohen.</b>
        {% endblock %}
    </div>
</body>
</html>
