{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='charts.js') }}"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
{% endblock %}
{% block content %}
    {% block scripts %} 
    {% endblock %}
    <h1>Teacher Dashboard</h1>
    <a href="/submissions">Submissions</a> 
    <a href="/results">Results</a>
    <a href="/trends">Trends</a>
    <a href="/histogram">Histogram</a>
    {% block options %} 
    {% endblock %}
        <div class="charts" style="width:75%;">
            <canvas id="canvas"  aria-label="Submissions" role="img"></canvas>
        </div>
    {% block description %} 
    {% endblock %}
{% endblock %}
