{% extends "dash.html" %}

{% block scripts %}
    <script>
        var ctx = null

        /** 
        * Create a histogram
        **/
        function create(){
            selected_groups = get_selected_groups()
            histogram(ctx , selected_groups, create=true)
        }


        /**
        * Update the histogram
        **/
        function update(){
            selected_groups = get_selected_groups()
            histogram(ctx , selected_groups)
        }
    

        $(document).ready(function() {
            var canv = $("#canvas")[0]
            ctx = canv.getContext('2d');
            /**
            * Create the checkboxes to select which groups to display
            **/
            $.getJSON("/groups")
                .done(function(json){
                    create_groups_tickboxes(json)
                    create()
                })
                .fail(function( jqxhr, textStatus, error ) {
                        var err = textStatus + ", " + error;
                        console.log( "Request Failed: " + err );
                });
        });
    </script>
{% endblock %}

{% block options %}
<div id="options">
    <b>Options</b>
    <div id="groups">
    </div>
    <div id="cutoff">
    </div>
</div>
{% endblock %}

{% block description %}
A histogram showing the number of occurances of each score range. non-submissions and zero grades are ignored
{% endblock %}
